สวัสดี {username} อีเมลของท่านคือ {username_email}<br>

ท่านได้ทำการเติมเงินด้วยบัตรเงินสดทรูมันนี่จำนวน {cardcard_amount} บาท<br>

ท่านได้รับ Point {point_get} แต้ม<br>

หมายเหตุ: {ref}<br>

ขอบพระคุณที่ท่านเลือกใช้บริการของเรา<br>