<div class="col-md-8">

	<div class="panel panel-default">
		<div class="panel-body">
			<marquee scrollamount="2" onmouseover="this.stop()" onmouseout="this.start()" style="vertical-align: middle;">{text_alert}</marquee>
		</div>
	</div>

	<div class="panel panel-default">
		<div class="panel-body">
		<h2>{name}</h2>
		<hr>
		{detail}
		</div>
	</div>
</div>