<h3>New Password</h3>
<p>คุณได้ทำการร้องขอรหัสผ่านใหม่จากระบบของเรา</p>
<p>Email:</b>  {email}</p>
<p>Login Name:</b> {login_name}</p>
<p>New Password:</b> {new_password}</p>
<hr>
<p>ขอคุณที่ใช้บริการ - ทีมงาน</p>